In [1]:
#Import the libraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential, load_model
from keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [6]:
#ambil data dari csv
# df = pd.read_csv('./IHSG_2010-2020.csv', header=0, index_col=0, parse_dates=True, squeeze=True)
# df
df = web.DataReader('^JKSE', data_source='yahoo', 
                   ) 
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-06-27,4846.417969,4795.962891,4804.045898,4836.051758,38717800.0,4836.051758
2016-06-28,4890.604980,4835.432129,4836.128906,4882.170898,47765500.0,4882.170898
2016-06-29,4980.104980,4905.978027,4905.978027,4980.104980,40998400.0,4980.104980
2016-06-30,5033.242188,4996.395020,4999.877930,5016.646973,54961500.0,5016.646973
2016-07-01,5039.686035,4971.581055,5027.617188,4971.581055,40459000.0,4971.581055
...,...,...,...,...,...,...
2021-06-18,6070.416016,5944.053223,6065.519043,6007.120117,238006900.0,6007.120117
2021-06-21,6021.494141,5884.917969,5959.964844,5996.252930,159997500.0,5996.252930
2021-06-22,6118.861816,6006.665039,6006.665039,6087.841797,151167900.0,6087.841797
2021-06-23,6130.096191,6034.542969,6095.895020,6034.542969,199578400.0,6034.542969
2021-06-24,6060.488770,6003.196777,6052.080078,6015.040039,0.0,6015.040039

In [7]:
#mendeteksi null
df_missing = df.isnull()
#menghitung jumlah True yang ada dari hasil deteksi null menggunakan isnull()
#Boolean True pada fungsi aritmatika dihitung bernilai 1, sehingga sum() bisa digunakan untuk menghitung jumlah missing value
jmlMissing = df_missing.sum()
#persentase
persenMissing = (jmlMissing/df.shape[0])*100
persenMissing

High         0.0
Low          0.0
Open         0.0
Close        0.0
Volume       0.0
Adj Close    0.0
dtype: float64

In [ ]:
# visualisasi
plt.figure(figsize=(15,10))
plt.plot(df.index, df['Open'])
plt.xlabel('Tahun',fontsize=24)
plt.ylabel('Harga (Open) ($)',fontsize=24)

plt.show()

In [ ]:
# df = pd.read_csv('./IHSG_2010-2020.csv', header=0, parse_dates=True, squeeze=True)
# df

In [ ]:
#conver ke date
# indeks = range(1, len(df)+1)
train_dates = pd.to_datetime(df.index)
# train_dates = train_dates.to_series(index=indeks)
# train_dates

In [ ]:
#ambil fiturnya doang
fitur = df[['Open', 'High', 'Low', 'Close', 'Adj Close']]
fitur

In [ ]:
#ambil nilai dari fitur
training_data = fitur.astype(float)
# print(training_data.shape[1])

In [ ]:
#cek print
# training_data
plt.figure(figsize=(16, 6))
training_data.plot.line()

In [ ]:
#scaling biar gap harganya gk jauh2 amat
scaler = StandardScaler()
scaler = scaler.fit(training_data)
scaled = scaler.transform(training_data)

In [ ]:
#ambil nilai sebelumnya (x) untuk dapet nilai prediksi (y)
trainX = []
trainY = []

In [ ]:
#sesuaikan harinya
n_future = 7
n_past = 30 

#isi trainx dan trainy sesuai n nya
for i in range(n_past, len(scaled) - n_future +1): # i = range dari 365 - 3965 (365, 3969-3-1)
    trainX.append(scaled[i - n_past:i, 0:scaled.shape[1]]) #ambil data dari 365 hari yang lalu (0:365, 0:5)
    trainY.append(scaled[i + n_future - 1:i + n_future, 0]) #ambil data buat prediksi (367:368, 0)

In [ ]:
#ubah list ke array
trainX, trainY = np.array(trainX), np.array(trainY)

In [ ]:
#jumlah data, jumlah hari sebelumnya
print('trainX shape == {}.'.format(trainX.shape))
print('trainY shape == {}.'.format(trainY.shape))

In [ ]:
from keras import optimizers

model = Sequential()
# model.add(LSTM(units=50, return_sequences=True,input_shape=(trainX.shape[1],trainX.shape[2])))
# model.add(LSTM(units=50, return_sequences=False))
# model.add(Dense(units=25))
# model.add(Dense(units=1))
model.add(LSTM(64, activation='relu', input_shape=(trainX.shape[1], trainX.shape[2]), return_sequences=True))
model.add(LSTM(32, activation='relu', return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(trainY.shape[1]))
optimizer = optimizers.Adam(clipvalue=0.9)
model.compile(optimizer=optimizer, loss='mean_squared_error')
model.summary()

In [ ]:
history = model.fit(trainX, trainY, epochs=25, batch_size=16, validation_split=0.1, verbose=1)

In [ ]:
#buat data testing
test_data = scaled[len(scaled) - n_past: , : ]
x_test = []
y_test =  trainY[len(scaled) : , : ] #Get all of the rows from index 1603 to the rest and all of the columns (in this case it's only column 'Close'), so 2003 - 1603 = 400 rows of data
for i in range(n_past,len(test_data)):
    x_test.append(test_data[i-n_past:i,0])

In [ ]:
#Convert x_test to a numpy array 
x_test = np.array(x_test)

In [ ]:
n_future=7
forecast_period_dates = pd.date_range(list(train_dates)[-1], periods=n_future, freq='1d').tolist()

forecast = model.predict(trainX[-n_future:]) #prediksi
forecast

In [ ]:
forecast_copies = np.repeat(forecast, training_data.shape[1], axis=-1)
y_pred_future = scaler.inverse_transform(forecast_copies)[:,0]
len(y_pred_future)

In [ ]:
#plot si y prediksi sesuai dengan tanggalnya
forecast_dates = []
for time_i in forecast_period_dates:
    forecast_dates.append(time_i.date())
    
df_forecast = pd.DataFrame({'Date':np.array(forecast_dates), 'Open':y_pred_future})
df_forecast['Date']=pd.to_datetime(df_forecast['Date'])

original = {'Date': df.index,
        'Open': df['Open']
        }
original = pd.DataFrame(original, columns = ['Date', 'Open'])
# original = df[['Date', 'Open']]
original['Date']=pd.to_datetime(original['Date'])
original = original.loc[original['Date'] >= '2010-12-30']

In [ ]:
plt.figure(figsize=(16, 8))
sns.lineplot(df_forecast['Date'], df_forecast['Open'])
sns.lineplot(original['Date'], original['Open'])

In [ ]:
df_forecast

In [ ]:
cek = fitur[-7:]
cek['Prediksi'] = y_pred_future
cek = cek[['Open', 'Prediksi']]
cek

In [ ]:
rmse=np.sqrt(np.mean(((cek['Prediksi'] - cek['Open'])**2)))
rmse